/* Optional: Custom styles for snackbars */
::ng-deep .snackbar-success {
    background-color: #4caf50; /* Green */
    color: #fff;
  }
  
  ::ng-deep .snackbar-error {
    background-color: #f44336; /* Red */
    color: #fff;
  }
  
  ::ng-deep .snackbar-info {
    background-color: #2196f3; /* Blue */
    color: #fff;
  }
  